@charset "EUC-KR";
.jsb_table_width1 {
   width:5%;
}
.jsb_table_width2 {
   width:5%;
}
.jsb_table_width3 {
   width:25%;
}
.jsb_table_width4 {
   width:55%;
}
.jsb_table_width5 {
   width:10%;
}