@charset "EUC-KR";
.form {
	padding: 5px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
.subForm {
	height: 50%;
	margin-top: 5px;
}
.subForm div {
	text-align: center;
	width: 60%;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.searchPic {
	height: 200px;
}
#goSearch {
	font-size: 28px;
	color: blue;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.comment {
	font-size: 30px;
	font-weight: bold;
}
.title:hover,.comment:hover {
	color: #000000;
}
table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
tr {
	text-align: center;
}
.studyBlock {
	border: 5px solid gray;
	width: 38%;
	height: 150px;
	border-radius: 30px;
}
.blank {
	width: 24%;
}
.blank2 {
	height: 60px;
}
.tblBlock {
	width: 100%;
	height: 100%;
}
@media (max-width:1330px){ /*가로 너비가 1330px 이하일 때 아래 스타일 적용*/
    .form {
        width: 95%;
    }
    .title {
    	font-size: 25px;
    }
    .comment, #goSearch {
    	font-size: 20px;
    }
    .subForm div {
		width: 95%;
		font-size: 20px;
	}
	.searchPic {
		height: 80%;
	}
	table {
		width: 100%;
		font-size: 15%;
	}
	.studyBlock {
		/* width: 30%;
		height: 20%; */
	}
}